$maybe _ <- mUserId
    <div .mainElement>
        <div .clearfix .container>
            $if null siteList
            $else
                $forall Entity _ site <- siteList
                    ^{siteBloc site}
        <form .bloc .new .mainAlert>
            <h4>Add new site
            <input .col_4 type=text placeholder="domain name" key="url">
            <button onclick="return false;" .create .small .blue url=@{NewSiteR}>Add
$nothing
    <div .show>
      <ul .slideshow>
        <li><img src="http://placekitten.com/800/420" title="Samy is Analyzing its 404. Because this thing matter!">
        <li><img src="http://placekitten.com/801/421" title="Sometime 404 just pass under the radar.">
        <li><img src="http://placekitten.com/802/422" title="OH NO! My users keep going in my 404!">
    <button .blue .center .link url=@{AuthR LoginR}>Fix your 404 now!
    <div .bloc>
        <p>
            Analyze the origins of people hitting a 404 on your website.
        <p>
            You add a small tag to your 404 page, you create an account.
            And you can use it!
